<%= simple_nested_form_for @estimate, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Estimate</legend>

    <%= f.input :name %>
    <%= f.association :room %>
    <!--<%= f.input :sale_id %>-->
    <%= f.fields_for :elements do |element_form| %>
      <%= f.simple_fields_for :suppliers , :html => {:class => 'control-group select required'} do |simple| %>
        <div class="control-group select required">
        <%= simple.label "Supplier" %>
          <div class="controls" >
            <%= simple.collection_select :supplier_id, Supplier.order(:name), :id, :name %>
          </div>
        </div>
      <% end %>
      <%= element_form.association :item, :collection => @suppliers, :as => :grouped_select, :group_method => :items %>
      <%= element_form.input :quantity %>
      <!--<%= element_form.input :due_at, :as => :date, :value => 30.days.from_now %>-->
      <%= element_form.link_to_remove "Remove Item" %>
    <% end %>
    <%= f.link_to_add "Add Item", :elements %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', estimates_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
