<h1>Estimate</h1>

<p>
  <b>Name</b><br>
  <%= @estimate.name %>
</p>

<p>
  <b>Room</b><br>
  <%= @estimate.room_id %>
</p>

<p>
  <b>Sale</b><br>
  <%= @estimate.sale_id %>
</p>

<p>
  <b>Value</b><br>
  <%= @estimate.value.map{ |x| number_to_currency(x)} %>
</p>


<h2>Elements</h2>
<%= page_navigation_links @elements %>

<%= render "elements/element_titles" %>
    <% @elements.each do |element| %>
      <%= render element %>
    <% end %>
<%= render "elements/element_footer" %>

<%= link_to 'Add Item', new_element_path(:estimate_id => @estimate.id), :class => 'btn btn-primary' %>

<div class="form-actions">
  <%= link_to 'Back', room_path(@estimate.room), :class => 'btn'  %>
  <%= link_to 'Edit', edit_estimate_path(@estimate), :class => 'btn' %>
  <%= link_to 'Delete', estimate_path(@estimate), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
