    <tr>
      <td><%= element.estimate.name %></td>
      <td><%= element.item.supplier.name %></td>
      <td><%= element.item.name %></td>
      <td><%= element.item.code %></td>
      <td><%= element.quantity %></td>
      <td><%= element.value.map{ |x| number_to_currency(x)}.join(" / ") %></td>
      <td><%= ihelper element.due_at %></td>
      <td><%= ihelper element.completed_at %></td>
      <td><%= element.purchase %></td>
      <td><%= ihelper element.deleted_at %></td>
        <td>
          <%= link_to 'Purchase', new_purchase_path(element), :class => 'btn btn-primary btn-mini' %>       
          <%= link_to 'Edit', edit_element_path(element), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', element_path(element), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
    </tr>


