<% present element,ElementPresenter do |element_presenter| %>
    <tr>
      <td><%= link_to element.estimate.name, element_path(element) %></td>
      <td><%= element.item.supplier.name %></td>
      <td><%= element.item.name %></td>
      <td><%= element.item.code %></td>
      <td><%= element.quantity %></td>
      <td><%= ihelper element.value %></td>
      <td><%= ihelper element_presenter.purchased_at %></td>
      <td><%= ihelper element.due_at %></td>
      <td><%= ihelper element.completed_at %></td>
      <td><%= ihelper element.deleted_at %></td>
      <td><%= element_presenter.actions %></td>
  </tr>
<% end %>

