    <tr>
      <td><%= element.estimate.name %></td>
      <td><%= element.item.name %></td>
      <td><%= element.quantity %></td>
      <td><%= element.due_at %></td>
      <td><%= element.completed_at %></td>
      <td><%= element.purchase %></td>
      <td><%= element.deleted_at %></td>
      <td><%= link_to "Edit", edit_element_path(element) %></td>
    </tr>


