  <div class="field titles">
    <%= f.label :estimate %>
  </div>
  <div class="field titles">
    <%= f.label :item %>
  </div>
  <div class="field titles">
    <%= f.label :quantity %>
  </div>
  <div class="field titles">
    <%= f.label :due_at %>
  </div>
  <div class="field titles">
    <%= f.label :completed_at %>
  </div>
  <div class="field titles">
    <%= f.label :deleted_at %>
  </div>

