<%= simple_form_for @element, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Element</legend>

    <%= f.association :estimate %>
    <%= f.association :item %>
    <%= f.input :quantity %>
    <%= f.input :due_at, :as => :date,  :order => [:day,:month,:year] %>
    <%= f.input :delivery_address, :collection => @available_address %>
    <% if controller.action_name != 'new' %>
    <%= f.input :completed_at, :as => :date %>
    <%= f.input :deleted_at, :as => :date %>
    <% end %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', elements_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
