<%= simple_form_for @element, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Element</legend>

    <%= f.input :estimate_id %>
    <%= f.association :item %>
    <%= f.input :quantity %>
    <%= f.input :due_at, :as => :date %>
    <%= f.input :completed_at, :as => :date %>
    <%= f.input :deleted_at, :as => :date %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', elements_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
