  <div class="field subform">
    <%= f.text_field :name %>
  </div>
  <div class="field subform">
    <%= f.text_field :type %>
  </div>
  <div class="field subform">
    <%= f.collection_select(:item_id,Item.all, :id, :name ) %>
  </div>
  <div class="field subform">
    <%= f.text_field :quantity %>
  </div>
  <div class="actions subform"><%= f.link_to_remove "Remove" %></div>
<% end %>
