  <div class="field subform">
    <%= f.text_field :name %>
  </div>
  <div class="field subform">
    <%= f.text_area :address %>
  </div>
  <div class="field subform">
    <%= f.collection_select(:client_id,Client.all, :id, :name ) %>
  </div>
  <div class="field subform">
    <%= f.text_field :markup %>
  </div>
  <div class="actions subform"><%= f.link_to_remove "Remove" %></div>
<% end %>
