<h1>Jobs</h1>

<%= page_navigation_links @jobs %>

<%= render "jobs/job_titles" %>
    <% @jobs.each do |job| %>
      <%= render job %>
    <% end %>
<%= render "jobs/job_footer" %>


<%= link_to 'New', new_job_path, :class => 'btn btn-primary' %>
