<%= simple_form_for @purchase, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Purchase</legend>

    <%= f.association :element %>
    <%= f.input :quantity %>
    <%= f.input :price_ex_vat %>
    <%= f.input :price_inc_vat %>
    <%= f.input :duedate, :as => :date %>
    <%= f.input :price_inc_vat %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', purchases_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
