<% present purchase,PurchasePresenter do |purchase_presenter| %>
    <tr>
      <td><%= purchase_presenter.purchaseorderlink %></td>
      <td><%= purchase.element.item.name %></td>
      <td><%= purchase.element.delivery_address %></td>
      <td><%= ihelper purchase.duedate %></td>
      <td><%= purchase.quantity %></td>
      <td><%= ihelper purchase.price_ex_vat %></td>
      <td><%= ihelper purchase.price_inc_vat %></td>
      <td><%= ihelper purchase.completed_at %></td>
      <td>  
      <%= purchase_presenter.actions %>
      </td>
    </tr>
<% end %>


