    <tr>
      <td><%= purchase.element.item.name %></td>
      <td><%= purchase.duedate %></td>
      <td><%= purchase.quantity %></td>
      <td><%= purchase.price_ex_vat %></td>
      <td><%= purchase.price_inc_vat %></td>
      <td><%= purchase.completed_at %></td>
      <td><%= purchase.purchaseorder %></td>
      <td>          
      <%= link_to 'Edit', edit_purchase_path(purchase), :class => 'btn btn-mini' %>
      <%= link_to 'Destroy', purchase_path(purchase), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>


