<h1>Clients</h1>

<%= page_navigation_links @clients %>

<%= render "clients/client_titles" %>
    <% @clients.each do |client| %>
      <%= render client %>
    <% end %>
<%= render "clients/client_footer" %>


<%= link_to 'New', new_client_path, :class => 'btn btn-primary' %>
