  <div class="field titles">
    <%= f.label :user %>
  </div>
  <div class="field titles">
    <%= f.label :element %>
  </div>
  <div class="field titles">
    <%= f.label :description %>
  </div>
  <div class="field titles">
    <%= f.label :opened_at %>
  </div>
  <div class="field titles">
    <%= f.label :closed_at %>
  </div>
  <div class="field titles">
    <%= f.label :chargeable %>
  </div>

