<%= simple_form_for @timesheet, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Timesheet</legend>

    <%= f.input :user_id %>
    <%= f.input :element_id %>
    <%= f.input :description %>
    <%= f.input :opened_at, :as => :date_picker %>
    <%= f.input :chargeable %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', timesheets_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
