<h1>Timesheets</h1>

<h2>Open Tasks</h2>
<%= render 'elements/element_titles' %>
    <% @open_elements.each do |element| %>
      <%= render element %>
    <% end %>
<%= render 'elements/element_footer' %>

<h2>Timesheets</h2>
<%= page_navigation_links @timesheets %>

<%= render 'timesheets/timesheet_titles' %>
    <% @timesheets.each do |timesheet| %>
      <%= render timesheet %>
    <% end %>
<%= render 'timesheets/timesheet_footer' %>
<%= link_to 'New', new_timesheet_path, :class => 'btn btn-primary' %>
