  <div class="field titles">
    <%= f.label :name %>
  </div>
  <div class="field titles">
    <%= f.label :job %>
  </div>
  <div class="field titles">
    <%= f.label :width %>
  </div>
  <div class="field titles">
    <%= f.label :length %>
  </div>
  <div class="field titles">
    <%= f.label :height %>
  </div>
  <div class="field titles">
    <%= f.label :windows %>
  </div>

