    <tr>
      <td><%= room.name %></td>
      <td><%= room.job.name %></td>
      <td><%= room.estimates %></td>
      <td><%= room.width %></td>
      <td><%= room.length %></td>
      <td><%= room.height %></td>
      <td><%= room.windows %></td>
      <td><%= link_to "Edit", edit_room_path(room) %></td>
    </tr>


