<h1>Room</h1>

<%= render "rooms/room_titles" %>
<%= render @room %>
<%= render "rooms/room_footer" %>

<h2>Estimates</h2>

<%= render "estimates/estimate_titles" %>
    <% @estimates.each do |estimate| %>
      <%= render estimate %>
    <% end %>
<%= render "estimates/estimate_footer" %>

<%= link_to 'New estimate', new_estimate_path(:room_id => @room.id), :class => 'btn' %>

<div class="form-actions">
  <%= link_to 'Back', @room.job, :class => 'btn'  %>
  <%= link_to 'Edit', edit_room_path(@room), :class => 'btn' %>
  <%= link_to 'Delete', room_path(@room), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
