<%= simple_form_for @item, :html => {:multipart => true,:class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Item</legend>

    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.association :supplier %>
    <%= f.association :category %>
    <%= f.input :price_ex_vat %>
    <%= f.input :price_inc_vat %>
    <%= f.input :quantity %>
    <%= f.input :units, :collection => ['Meters','Litres','Hours']%>
    <%= f.input :remote_image_url %>
    <%= f.input :reference, :as => :url %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', items_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
