    <tr>
      <td><%= purchaseorder.purchases %></td>
      <td><%= purchaseorder.supplier.name %></td>
      <td><%= purchaseorder.sent_at %></td>
      <td><%= purchaseorder.instructions %></td>
      <td><%= link_to "Edit", edit_purchaseorder_path(purchaseorder) %></td>
    </tr>


