<%= simple_form_for @supplier, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Supplier</legend>

    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :address %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', suppliers_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
