<% present supplier,SupplierPresenter do |supplier_presenter| %>
    <tr>
      <td><%= link_to supplier.name, supplier_path(supplier) %></td>
      <td><%= supplier.email %></td>
      <td><%= supplier.address %></td>
      <td><%= supplier.items.count %></td>
      <td><%= supplier.purchaseorders.count %></td>
      <td><%= supplier.outstanding_purchases.count %></td>
      <td><%= supplier_presenter.actions %></td>
    </tr>
<% end %>

