    <tr>
      <td><%= supplier.name %></td>
      <td><%= supplier.email %></td>
      <td><%= supplier.address %></td>
      <td><%= supplier.items %></td>
      <td><%= supplier.purchase_orders %></td>
      <td><%= link_to "Edit", edit_supplier_path(supplier) %></td>
    </tr>


