<h1>Suppliers</h1>

<%= page_navigation_links @suppliers %>

<%= render "suppliers/supplier_titles" %>
    <% @suppliers.each do |supplier| %>
      <%= render supplier %>
    <% end %>
<%= render "suppliers/supplier_footer" %>

<%= link_to 'New', new_supplier_path, :class => 'btn btn-primary' %>
