  <div class="field subform">
    <%= f.text_field :quantity %>
  </div>
  <div class="field subform">
    <%= f.text_field :price_ex_vat %>
  </div>
  <div class="field subform">
    <%= f.text_field :price_inc_vat %>
  </div>
  <div class="field subform">
    <%= f.collection_select(:invoice_id,Invoice.all, :id, :name ) %>
  </div>
  <div class="actions subform"><%= f.link_to_remove "Remove" %></div>
<% end %>
