<%= simple_form_for @sale, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Sale</legend>


    <%= f.input :quantity %>
    <%= f.input :price_ex_vat %>
    <%= f.input :price_inc_vat %>
    

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', sales_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
