    <tr>
      <td><%= sale.estimate %></td>
      <td><%= sale.quantity %></td>
      <td><%= sale.price_ex_vat %></td>
      <td><%= sale.price_inc_vat %></td>
      <td><%= sale.invoice.name %></td>
      <td><%= link_to "Edit", edit_sale_path(sale) %></td>
    </tr>


